.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    align-self: flex-start;
    font-size: 10px;
    line-height: 14px;
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        padding-left: 48px; 
    }
}

@media screen and (max-width: 768px) {
    .lead__caption {  
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        padding-left: 16px;
    }
}
