.intro__title {
    font-weight: 900;
    margin-top: 0;
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;    
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 720px) {
    .intro__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 35px;  
    }
}